<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.re.dev.DroidHammerTest"
    android:versionCode="1"
    android:versionName="1.0" >

    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <instrumentation android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="kr.re.dev.SalmonePie.Test"
    android:label="Test" />    
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         <uses-library android:name="android.test.runner" />
    	     
        	
        <activity android:name="TestActivity"
            android:label="@string/app_name">
        </activity>
        
    </application>
    
        
    	
</manifest>
